$theme-color-black: #000000;
$theme-color-white: #ffffff;

$theme-color-primary: #2a6073;
$theme-color-secondery: #24c9ad;

$bg-color-white: #ffffff;
$bg-color-light-gray: #f8f8f8;
$bg-color-light-secondery: #a9e6db;
$bg-color-light-primary: #e3eceb;
