footer {
  background: rgba($bg-color-light-secondery, 0.75);
  color: $theme-color-primary;
  text-align: center;
  height: 20vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
